<a href="https://colab.research.google.com/github/Aniaannaan/ObliczeniaNaukowe/blob/main/Lab11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
with open('sample_data/mnist_train_small.csv','r') as plik:
  for i in range (0,5):
    print(i+1,plik.readlines()[:-2],'!')

1

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [14]:
import pandas as pd
url='https://raw.githubusercontent.com/danio2010/ON2022/main/statystyki.csv'
plik=pd.read_csv(url)

In [15]:
type(plik)

pandas.core.frame.DataFrame

Pandas

In [17]:
import numpy as np
import pandas as pd

In [18]:
dane=[1,2,3,4,2,1,4]

In [21]:
dane2=pd.Series(dane)
dane2

0    1
1    2
2    3
3    4
4    2
5    1
6    4
dtype: int64

In [22]:
dane2.describe()

count    7.000000
mean     2.428571
std      1.272418
min      1.000000
25%      1.500000
50%      2.000000
75%      3.500000
max      4.000000
dtype: float64

In [23]:
dane2.unique()

array([1, 2, 3, 4])

In [24]:
dane2.value_counts()

1    2
2    2
4    2
3    1
dtype: int64

In [25]:
np.sin(dane2)

0    0.841471
1    0.909297
2    0.141120
3   -0.756802
4    0.909297
5    0.841471
6   -0.756802
dtype: float64

In [29]:
dane=pd.read_csv('https://analityk.edu.pl/wp-content/uploads/2020/12/worldcities.csv')

In [30]:
dane.head()

,city,city_ascii,lat,lng,country,iso2,iso3,admin_name,capital,population,id
0,Tokyo,Tokyo,35.6897,139.6922,Japan,JP,JPN,Tōkyō,primary,37977000.0,1392685764
1,Jakarta,Jakarta,-6.2146,106.8451,Indonesia,ID,IDN,Jakarta,primary,34540000.0,1360771077
2,Delhi,Delhi,28.6600,77.2300,India,IN,IND,Delhi,admin,29617000.0,1356872604
3,Mumbai,Mumbai,18.9667,72.8333,India,IN,IND,Mahārāshtra,admin,23355000.0,1356226629
4,Manila,Manila,14.5958,120.9772,Philippines,PH,PHL,Manila,primary,23088000.0,1608618140

In [31]:
dane.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26569 entries, 0 to 26568
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   city        26569 non-null  object
 1   city_ascii  26569 non-null  object
 2   lat         26569 non-null  float64
 3   lng         26569 non-null  float64
 4   country     26569 non-null  object
 5   iso2        26538 non-null  object
 6   iso3        26569 non-null  object
 7   admin_name  26493 non-null  object
 8   capital     7626 non-null   object
 9   population  25596 non-null  float64
 10  id          26569 non-null  int64
dtypes: float64(3), int64(1), object(7)
memory usage: 2.2+ MB

In [32]:
dane.describe()

                lat           lng    population            id
count  26569.000000  26569.000000  2.559600e+04  2.656900e+04
mean      33.095264    -11.363860  1.623457e+05  1.556097e+09
std       22.393678     73.946817  8.996585e+05  2.873890e+08
min      -54.934100   -179.590000  0.000000e+00  1.004003e+09
25%       27.918300    -78.779400  9.246000e+03  1.276656e+09
50%       40.218800     -0.768900  2.007950e+04  1.643148e+09
75%       47.987800     29.683300  5.936925e+04  1.840005e+09
max       81.716600    179.366700  3.797700e+07  1.934000e+09

In [34]:
dane.columns

Index(['city', 'city_ascii', 'lat', 'lng', 'country', 'iso2', 'iso3',
       'admin_name', 'capital', 'population', 'id'],
      dtype='object')

In [35]:
dane.index

RangeIndex(start=0, stop=26569, step=1)

In [37]:
dane.isnull().sum()

city              0
city_ascii        0
lat               0
lng               0
country           0
iso2             31
iso3              0
admin_name       76
capital       18943
population      973
id                0
dtype: int64

In [40]:
dane.drop(columns=['city_ascii','iso2','iso3'],inplace=True)

In [41]:
dane

,city,lat,lng,country,admin_name,capital,population,id
0,Tokyo,35.6897,139.6922,Japan,Tōkyō,primary,37977000.0,1392685764
1,Jakarta,-6.2146,106.8451,Indonesia,Jakarta,primary,34540000.0,1360771077
2,Delhi,28.6600,77.2300,India,Delhi,admin,29617000.0,1356872604
3,Mumbai,18.9667,72.8333,India,Mahārāshtra,admin,23355000.0,1356226629
4,Manila,14.5958,120.9772,Philippines,Manila,primary,23088000.0,1608618140
...,...,...,...,...,...,...,...,...
26564,Nord,81.7166,-17.8000,Greenland,Sermersooq,NaN,10.0,1304217709
26565,Timmiarmiut,62.5333,-42.2167,Greenland,Kujalleq,NaN,10.0,1304206491
26566,Cheremoshna,51.3894,30.0989,Ukraine,Kyyivs’ka Oblast’,NaN,0.0,1804043438
26567,Ambarchik,69.6510,162.3336,Russia,Sakha (Yakutiya),NaN,0.0,1643739159
26568,Nordvik,74.0165,111.5100,Russia,Krasnoyarskiy Kray,NaN,0.0,1643587468

In [48]:
dane.rename(columns={'population':'populacja'},inplace=True)

Przeglądanie danych

In [53]:
dane['populacja'] #lub dane.populacja

0        37977000.0
1        34540000.0
2        29617000.0
3        23355000.0
4        23088000.0
            ...
26564          10.0
26565          10.0
26566           0.0
26567           0.0
26568           0.0
Name: populacja, Length: 26569, dtype: float64

In [50]:
dane.populacja

0        37977000.0
1        34540000.0
2        29617000.0
3        23355000.0
4        23088000.0
            ...
26564          10.0
26565          10.0
26566           0.0
26567           0.0
26568           0.0
Name: populacja, Length: 26569, dtype: float64

In [54]:
dane[2:5]['country']

2          India
3          India
4    Philippines
Name: country, dtype: object

In [55]:
dane.iloc[3,4]

'Mahārāshtra'

In [56]:
dane.loc[1,'city']

'Jakarta'

In [59]:
dane[dane['country']=='Poland']

,city,lat,lng,country,admin_name,capital,populacja,id
422,Warsaw,52.2167,21.0333,Poland,Mazowieckie,primary,1790658.0,1616024847
984,Kraków,50.0614,19.9372,Poland,Małopolskie,admin,766739.0,1616172264
1064,Łódź,51.7769,19.4547,Poland,Łódzkie,admin,690422.0,1616832750
1138,Wrocław,51.1077,17.0353,Poland,Dolnośląskie,admin,638586.0,1616108520
1287,Poznań,52.4000,16.9167,Poland,Wielkopolskie,admin,538633.0,1616725607
...,...,...,...,...,...,...,...,...
24163,Jedlicze,49.7164,21.6456,Poland,Podkarpackie,NaN,5766.0,1616854672
24201,Dąbrowa Białostocka,53.6500,23.3500,Poland,Podlaskie,NaN,6226.0,1616548793
24563,Kazimierza Wielka,50.2656,20.4936,Poland,Świętokrzyskie,minor,5848.0,1616505351
25174,Śmigiel,52.0134,16.5270,Poland,Wielkopolskie,NaN,5420.0,1616104537
25700,Bierutów,51.1333,17.5333,Poland,Dolnośląskie,NaN,5065.0,1616959868

In [62]:
dane.set_index('id',inplace=True)