<a href="https://colab.research.google.com/github/Aniaannaan/ObliczeniaNaukowe/blob/main/lab2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Instrukcje warunkowe
if----- :


elif -----:


else:

In [4]:
x=int(input("Podaj liczbę:"))
if x>3:
  print ("Zdane")
else:
  print("nie zdane")

Podaj liczbę:5
Zdane

Pętle:
for i in [1,2,3,4] range (5):
  print (i)

In [6]:
for i in range (5):
  print(i)

0
1
2
3
4

In [7]:
for i in range (0,100,2):
  print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [8]:
i=1
while i<5:
  print(i)
  i+=1

1
2
3
4

In [11]:
i=1
while i<5:
  print(i)
  i+=1
  if i==2:
    break

1

In [13]:
i=1
while i<5:
  print(i)
  i+=1
  if i==4:
    continue

1
2
3
4

Funkcje
def <nazwa> (<argumenty>):


  return

In [14]:
def dodawanie (x):
  return x+5

In [16]:
def potega(a,b=2):
  return a**b

potega(5)

25

Funkcje lambda (anonimowe)

In [17]:
dodawanie=lambda x,y: x+y

Listy

In [21]:
lista1=[1,2,'Ala',True, [2,3,4]]
lista1[2]

'Ala'

In [25]:
lista1=[1,2,'Ala',True, [2,3]]
lista1[-1]

[2, 3]

In [26]:
lista1=[1,2,'Ala',True, [2,3]]
type(lista1[4])

list

In [27]:
lista1=[1,2,'Ala',True, [2,3]]
lista1[0:2]

[1, 2]

In [28]:
lista1=[1,2,'Ala',True, [2,3]]
lista1[0:4:2]

[1, 'Ala']

In [29]:
lista1=[1,2,'Ala',True, [2,3]]
lista1[0]

1

In [31]:
list(range(51))

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50]

Sortowanie listy

In [32]:
lista1.sort()

TypeError: ignored

In [37]:
lista2=[1,2,3,4]
lista2.sort(reverse=True)

Zad 1. 
Wygeneruj listę zawierajacą liczby niedoddatnie z przedziału [-15,10], podzielne przez 3 i ustawione malejąco

In [40]:
wynik=[]
a= list(range[-15,11])
for i in a:
  if (i%3==0 and i<0)
  wynik.append()
wynik.sort(reverse=True)
print(wynik)

SyntaxError: ignored

Zad 2:
L=[1,3,5,7,8,10]
a)lista kwadratów el z L
b) lista wartości funkcji f(cx) x/x-2 dla el. z L
c) liste, która zawiera ele. z L podzielone przez 3

In [41]:
L=[1,3,4,7,8,10]
a=[]
for i in L:
  a.append(i**2)
print(a)

[1, 9, 16, 49, 64, 100]

In [42]:
L=[1,3,4,7,8,10]
a=[]
for i in L:
  a.append(i/i-2)
print(a)

[-1.0, -1.0, -1.0, -1.0, -1.0, -1.0]

In [45]:
L=[1,3,4,7,8,10]
a=[]
for i in L:
  if i%3==0:
    a.append(i)
print(a)

[3]

Filter

In [47]:
liczby=[i for i in L]
podzielne=list(filter(lambda x:x%3==0, liczby))
print(podzielne)

[3]

Zbiory

In [50]:
S=[1,2,'pies']
S[0]

1

In [51]:
len(S)

3

In [55]:
S.remove('pies')

ValueError: ignored

In [56]:
S.add('kot')

AttributeError: ignored